@use "./src/styles/responsive" as *;

.damage-relations {
  display: flex;
  padding: 2px 0;
  @include media-breakpoint-up(sm) {
    padding: 4px;
  }
  > * {
    flex-grow: 1;
    text-align: center;
    margin-right: 4px;
    @include media-breakpoint-up(xs) {
      margin-right: 6px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.damage-relation__label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 2px;
  @include media-breakpoint-up(xs) {
    font-size: 14px;
    margin-bottom: 4px;
  }
  @include media-breakpoint-up(sm) {
    font-size: 16px;
  }
}

.damage-relation__icons .type-icon {
  margin-right: 1px;
  &:last-child {
    margin-right: 0;
  }
  @include media-breakpoint-only(xxs) {
    width: 16px;
    height: auto;
  }
  @include media-breakpoint-between(xs, sm) {
    width: 22px;
    height: auto;
  }
}
