.pokedex {
  padding: 32px;
}

.pokedex__header {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.pokedex__search > * {
  margin-left: 16px;
}

h1 {
  margin: 0 32px 0 0;
  font-size: 56px;
}

input, select {
  font-size: 24px;
  padding: 8px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  margin: -16px;
}

.pokemon-list__item {
  flex-basis: calc((100%/6) - 32px);
  padding: 16px;
}
