@use "./src/styles/responsive" as *;

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
  @include media-breakpoint-up(md) {
    margin: -12px;
  }
  @include media-breakpoint-up(xxl) {
    margin: -16px;
  }
}

.pokemon-list__item {
  flex: 0 0 calc((100% / 2) - 16px);
  padding: 8px;
  @include media-breakpoint-up(sm) {
    flex-basis: calc((100% / 3) - 16px);
  }
  @include media-breakpoint-up(md) {
    flex-basis: calc((100% / 3) - 24px);
    padding: 12px;
  }
  @include media-breakpoint-up(lg) {
    flex-basis: calc((100% / 4) - 24px);
  }
  @include media-breakpoint-up(xl) {
    flex-basis: calc((100% / 5) - 24px);
  }
  @include media-breakpoint-up(xxl) {
    flex-basis: calc((100% / 6) - 32px);
    padding: 16px;
  }
}
