.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error__inner-wrapper {
  display: flex;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  flex-basis: 600px;
}
