@use "./src/styles/responsive" as *;
@use './src/styles/colors' as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.8;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  z-index: 100;
  width: 100%;
  margin: 0 16px;
  max-height: 100%;
  padding: 16px 0;

  @include media-breakpoint-up(xs) {
    margin: 0 28px;
    max-width: 320px;
  }
  @include media-breakpoint-up(sm) {
    box-sizing: border-box;
    max-width: 420px;
    margin: 0;
  }
  @include media-breakpoint-up(md) {
    position: relative;
    padding: 0;
  }
}

.modal__close-button {
  position: fixed;
  right: 12px;
  bottom: 12px;
  font-size: 36px;
  font-weight: bold;;
  line-height: 0;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 18px 8px;
  background-color: $pokemon-blue;
  border: 5px solid white;
  @include media-breakpoint-up(xs) {
    right: 16px;
    bottom: 16px;
  }
  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: unset;
    top: -40px;
    right: -48px;
  }
  &:hover {
    background-color: white;
    border-color: $pokemon-blue;
    color: $pokemon-blue;
  }
  span {
    display: block;
  }
}
