@use "./src/styles/responsive" as *;

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading__inner-wrapper {
  display: flex;
  align-items: baseline;
}

.ball {
  width: 75px;
  height: 75px;
  display: block;
  border-radius: 50%;
  position: relative;
  margin-right: 15px;
  @include media-breakpoint-up(sm) {
    width: 100px;
    height: 100px;
  }
  &:last-child {
    margin-right: 0;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.loading__animation {
  display: flex;
}

.ball-1 {
  animation: anim 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.ball-2 {
  animation: anim1 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.ball-3 {
  animation: anim2 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes anim {
  0% {
    bottom: 0;
  }

  17% {
    bottom: 50px;
  }

  33% {
    bottom: 0;
  }
}

@keyframes anim1 {
  0% {
    bottom: 0;
  }

  33% {
    bottom: 0;
  }

  50% {
    bottom: 50px;
  }

  66% {
    bottom: 0;
  }
}

@keyframes anim2 {
  0% {
    bottom: 0;
  }

  66% {
    bottom: 0;
  }
  83% {
    bottom: 50px;
  }

  100% {
    bottom: 0;
  }
}
