@use "./src/styles/responsive" as *;

.skeleton-card {
  width: 100%;
  height: auto;
  padding-top: 153.5%;
  // position: relative;
  @include media-breakpoint-up(sm) {
    padding-top: 147%;
  }
  cursor: progress;
  border-radius: 20px;
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    // animation
    linear-gradient(#d6d6d6, #d6d6d6),
    // title
    radial-gradient(circle, #d6d6d6 70%, transparent 0),
    // type
    linear-gradient(#d6d6d6, #d6d6d6),
    // image
    linear-gradient(#d6d6d6, #d6d6d6),
    // attributes
    radial-gradient(circle, #d6d6d6 70%, transparent 0),
    // move1circle
    linear-gradient(#d6d6d6, #d6d6d6),
    // move1text
    radial-gradient(circle, #d6d6d6 70%, transparent 0),
    // move1circle
    linear-gradient(#d6d6d6, #d6d6d6),
    // move1text
    linear-gradient(#d6d6d6, #d6d6d6),
    // weaknesstitle
    radial-gradient(circle, #d6d6d6 70%, transparent 0),
    // move1circle
    radial-gradient(circle, #d6d6d6 70%, transparent 0),
    // move1circle
    radial-gradient(circle, #d6d6d6 70%, transparent 0),
    // move1circle
    linear-gradient(#d6d6d6, #d6d6d6),
    // weaknesstitle
    radial-gradient(circle, #d6d6d6 70%, transparent 0),
    // move1circle
    radial-gradient(circle, #d6d6d6 70%, transparent 0),
    // move1circle
    radial-gradient(circle, #d6d6d6 70%, transparent 0),
    // move1circle
    radial-gradient(circle, #d6d6d6 70%, transparent 0),
    // move1circle
    linear-gradient(#d6d6d6, #d6d6d6),
    // description
    linear-gradient(#fff, #fff),
    // image
    linear-gradient(#d6d6d6, #d6d6d6); // card
  background-repeat: no-repeat;
  background-size: 315px 100%,
    // animation
    50% 5.79%,
    // title
    // 38px 38px,
    9.05% 6.11%,
    // type
    82.86% 39.7%,
    // image
    82.86% 3.86%,
    // attributes
    9.05% 6.11%,
    // move1circle
    67.62% 6.82%,
    // move1text
    9.05% 6.11%,
    // move2circle
    67.62% 6.82%,
    // move2text
    26.19% 3.22%,
    // weaknesstitle
    6.19% 4.18%,
    // move1circle
    6.19% 4.18%,
    // move1circle
    6.19% 4.18%,
    // move1circle
    26.19% 3.22%,
    // weaknesstitle
    6.19% 4.18%,
    // move1circle
    6.19% 4.18%,
    // move1circle
    6.19% 4.18%,
    // move1circle
    6.19% 4.18%,
    // move1circle
    82.86% 8.84%,
    // description
    92.38% 94.86%,
    // card
    100% 100%; // card border
  background-position: -315px 0,
    // animation
    17% 4.2%,
    // 8.57% 3.859%,
    // title
    90% 4.2%,
    // type
    49% 17.8%,
    // image
    49% 53.5%,
    // attributes
    10% 63.2%,
    //move1circle
    70% 63%,
    // move1text
    10% 73.2%,
    //move2circle
    70% 73.5%,
    // move2text
    22% 80.2%,
    // weaknesstitle
    21% 85%,
    // move1circle
    28.2% 85%,
    // move1circle
    35.5% 85%,
    // move1circle
    78% 80.2%,
    // weaknesstitle
    61% 85%,
    // move1circle
    68.5% 85%,
    // move1circle
    75.5% 85%,
    // move1circle
    82.8% 85%,
    // move1circle
    49% 95%,
    // description
    50% 50%,
    // card
    0 0; // card border
}

.skeleton-card--loading {
  animation: loading 1.5s infinite;
}

.skeleton-card__error {
  font-weight: bold;
  font-size: 38px;
  position: absolute;
  top: 23%;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  text-align: center;
}

@keyframes loading {
  to {
    background-position: 315px 0,
      // animation
      17% 4.2%,
      // title
      90% 4.2%,
      // type
      49% 17.8%,
      // image
      49% 53.5%,
      // attributes
      10% 63.2%,
      //move1circle
      70% 63%,
      // move1text
      10% 73.2%,
      //move2circle
      70% 73.5%,
      // move2text
      22% 80.2%,
      // weaknesstitle
      21% 85%,
      // move1circle
      28.2% 85%,
      // move1circle
      35.5% 85%,
      // move1circle
      78% 80.2%,
      // weaknesstitle
      61% 85%,
      // move1circle
      68.5% 85%,
      // move1circle
      75.5% 85%,
      // move1circle
      82.8% 85%,
      // move1circle
      49% 95%,
      // description
      50% 50%,
      // card
      0 0; // card border
  }
}
